<h1 class="box">
    ¡Bienvenidos al CodeChat Comunitario!
</h1>
<div class="box">
    <input id="chatBox" name="chatBox" type="text">
    <br>
    <button onclick="send()">Enviar</button>
</div>
<div class="box">
    <p id="messagesLogs"></p>
</div>