{{!-- <div class="box">
   <br>
   <label for="text-input">Mensaje en tiempo real</label>
   <br>
   <input id="text-input" type="text">
   <br>
   <button type="submit">Enviar</button>
   <hr>
    <div id="show-text"></div>
</div>  --}}

<div class="box">
   <br>
   <label for="chat-message">Chat Grupal</label>
   <br>
   <input id="chat-message" type="text">
   <br>
   <button onclick="send()">Enviar</button>
   <hr>
   <div id="all-message"></div>
</div> 