<h1>Hola Mundo</h1>
<div>
    <form action="/api/cookies/setCookies" method="post">
        <label for="name">Nombre</label>
        <input name="name" type="text" placeholder="Ingrese su nombre">

        <label for="email">Email</label>
        <input name="email" type="email" placeholder="Ingrese su email">

        <button type="submit">Enviar</button>
        <button onclick="getCookies(event)">Get Cookie</button>
    </form>

</div>