<div class="box">
    <h1>Login</h1>
    <hr>
    <form action="/api/session/login" method="post" class="box">

        <label for="email">Email</label>
        <input name="email" type="email" id="email" placeholder="ingrese su email">

        <br>
        <label for="password">Password</label>
        <input name="password" type="password" id="password" placeholder="ingrese su password">

        <br>
        <button type="submit" class="button-chat">Enviar</button>
    </form>
    <a href="/register">Register</a>
</div>


{{#if failLogin}}
<script>
    alert("Login Failed!")
</script>
{{/if}}